<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>184242579247-a8f10qjb5gu01qgedmc89b0rorc8dgoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184242579247-a8f10qjb5gu01qgedmc89b0rorc8dgoi</string>
	<key>API_KEY</key>
	<string>AIzaSyAaZvmEEKphnYPJ8rV6I471e-PCYCiR3zY</string>
	<key>GCM_SENDER_ID</key>
	<string>184242579247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>annshinewu.PenPaws</string>
	<key>PROJECT_ID</key>
	<string>penpaws-9b573</string>
	<key>STORAGE_BUCKET</key>
	<string>penpaws-9b573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184242579247:ios:be3775b09b4b543c</string>
	<key>DATABASE_URL</key>
	<string>https://penpaws-9b573.firebaseio.com</string>
</dict>
</plist>